.ipynb_checkpoints/
api.txt
dump/
ec2-user@ec2-52-14-250-184.us-east-2.compute.amazonaws.com
meetup_aws_200000_up.py
new_groups.txt
checking-test.py
categories_in_aws.txt
attendees_per_event_no_try.py
